*{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       font-family:  "Lucida Console", "Courier New", monospace;
}
body{
       height: 100vh;
       width: 100%;
       background: linear-gradient(to bottom,#68EACC,#497BE8);
}
.s1{
       margin: 120px auto;
       max-width: 750px;
       width: 100%;
       background:white;
       border-radius: 10px;
       padding: 25px;
}
.s1 header{
       font-size: 30px;
       font-family: 600;
       text-align: center;

}
.s1.inputext{
       display: flex;
       height: 45px;
       width: 100%;
       margin: 20px 0;
}
.inputext input{
       width: 60%;
       border: 1px solid #ccc;
       font-size: 23px;
       border-radius: 3px;
       padding-left: 15px;
}
.space{
       margin: 13px;
}

/*.icon{
       padding: 5px 4px;
       outline: none;
       border-radius: 6px;
       cursor: pointer;
       transition: width 0.5s;

}
*/
@media only screen and (max-width:750px){
       body{
              background-color: white;
       }
       .s1{
              width: 100%;
              background:white ;
              position: absolute;
             
              
       }
}